{[ template "__page_head.html" . ]}
<body>

<div id="app">
    {[ template "__head.html" . ]}
<div class="container-fluid">
    <div class="row">
        {[ template "__menu.html" . ]}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <template v-if="hasMail.data===false">
                <div class="alert alert-danger" role="alert">
                    <a aria-current="page" data-bs-toggle="modal" data-bs-target="#mailSetModal">还未设置邮件通知! 请点击 <span style="text-decoration:underline;">邮件设置</span> 进行设置</a>
                </div>
            </template>


            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            报警通知
                            <template v-if="alertList.len !== 0">
                                <span class="badge text-bg-danger">{{ alertList.len }}</span>
                            </template>
                            <img src="/static/bootstrap/img/record-circle-fill.svg" @click="alertClear" style="float: right;" alt="" width="18" height="18">
                        </div>
                        <div class="card-body" style="height: 120px;overflow: auto;padding: 2px;">
                            <ul class="list-group list-group-flush">
                                <template v-if="alertList.len === 0">
                                    <p style="text-align: center;">占无报警通知</p>
                                </template>
                                <template v-else>
                                    <template v-for="item in alertList.list">
                                        <li class="list-group-item list-group-item-action">
                                            <span>{{item}}</span>
                                        </li>
                                    </template>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            监控平台错误日志
                            <template v-if="monitorErrList.len !== 0">
                                <span class="badge text-bg-warning">{{ monitorErrList.len }}</span>
                            </template>
                            <img src="/static/bootstrap/img/record-circle-fill.svg" @click="monitorErrClear" style="float: right;" alt="" width="18" height="18">
                        </div>
                        <div class="card-body" style="height: 120px;overflow: auto;padding: 2px;">
                            <ul class="list-group list-group-flush">
                                <template v-if="monitorErrList.len === 0">
                                    <p style="text-align: center;">占无错误日志</p>
                                </template>
                                <template v-else>
                                    <template v-for="item in monitorErrList.list">
                                        <li class="list-group-item list-group-item-action">
                                            <span>{{item}}</span>
                                        </li>
                                    </template>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>



            <div class="">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addHostModal">添加站点监测</button>
                </div>
            </div>
            <div class="container" style="margin-top: 1.2rem;">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">站点</th>
                        <th scope="col">报警</th>
                        <th scope="col">监测方式</th>
                        <th scope="col">根URI</th>
                        <th scope="col">状态码</th>
                        <th scope="col">响应</th>
                        <th scope="col">Ping</th>
                        <th scope="col">对照组</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        <template v-for="item in websiteList.data.List">
                            <tr>
                                <td><span style="font-size: 14px;"><b>{{ item.Host }}</b></span></td>
                                <td>
                                    <template v-if="AlertCount>0"><span class="badge text-bg-danger">{{AlertCount}}</span></template>
                                    <template v-else><span class="badge text-bg-success">Passed</span></template>

                                </td>
                                <td><span style="font-size: 10px;">根URI+随机URI+监测点/{{ item.Rate }}s</span></td>
                                <td><span style="font-size: 10px;">{{ item.HealthUri }}</span></td>
                                <td>{{ item.Code }}</td>
                                <td>{{ item.Ms }}ms</td>
                                <td>{{ item.PingMs }}ms</td>
                                <td>{{ item.ContrastMs }}ms</td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#setAlertModal">
                                            <img src="/static/bootstrap/img/gear-fill.svg" alt="" width="18" height="18"> <span style="font-size: 12px;"></span>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm" @click="openWebsiteInfo(item.ID)">
                                            <img src="/static/bootstrap/img/house-fill.svg" alt="" width="18" height="18">
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm" @click="setUriPoint(item)">
                                            <img src="/static/bootstrap/img/broadcast.svg" alt="" width="18" height="18">
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm" @click="logShow(item.ID)">
                                            <img src="/static/bootstrap/img/file-text-fill.svg" alt="" width="18" height="18">
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm">
                                            <img src="/static/bootstrap/img/graph-up.svg" alt="" width="18" height="18">
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm">
                                            <img src="/static/bootstrap/img/trash-fill.svg" alt="" width="18" height="18">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <div class="text-center">
                    <div class="btn-group me-2" role="group" aria-label="Second group" >
                        <template v-for="item in websiteList.data.PageList">
                            <button v-if="item.Action === true" type="button" class="btn btn-secondary" @click="gotoList(item.Number)">{{ item.Number }}</button>
                            <button v-else type="button" class="btn btn-outline-secondary" @click="gotoList(item.Number)">{{ item.Number }}</button>
                        </template>
                    </div>
                </div>
            </div>

            {[ template "add_host_modal.html" . ]}
            {[ template "set_alert_modal.html" . ]}
            {[ template "set_uri_modal.html" . ]}
            {[ template "mail_set_modal.html" . ]}
            {[ template "website_info_modal.html" . ]}
            {[ template "log_modal.html" ]}
            {[ template "isok_modal.html" ]}

            <!-- 查看配置 -->
            <div class="modal fade" id="confModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="confModalLabel">查看配置</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </div>
            </div>





            <div class="toast-container p-3 top-50 start-50 translate-middle">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="/static/bootstrap/img/stripe.svg" class="rounded me-2" >
                        <strong class="me-auto">提示</strong>
                        <small></small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{msg}}
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>

</div>
</body>
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js?v=1"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="/static/js/home.js?v={[ .timeStamp ]}"></script>
</html>
