{[ template "__page_head.html" . ]}
<body>
<div id="app">
    {[ template "__head.html" . ]}
    <div class="container-fluid">
        <div class="row">
            {[ template "__menu.html" . ]}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                Mysql监测 开发中...
            </main>
        </div>
    </div>
    {[ template "toast.html" ]}
</div>
</body>
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js?v=1"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="module" src="/static/js/public.js?v={[ .timeStamp ]}"></script>
<script type="module" src="/static/js/mysql_monitor.js?v={[ .timeStamp ]}"></script>
</html>